Include /etc/ssh/sshd_config.d/*.conf
Port 22
ListenAddress 0.0.0.0

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:

PermitRootLogin no
MaxAuthTries 3
PubkeyAuthentication yes

KbdInteractiveAuthentication no
UsePAM yes
PrintMotd yes
TCPKeepAlive yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server
